{
  "domains": {
    "foo.com": {
      "path": "/path/to/web"
    },
    "bar.com": {
      "path": "/path/to/web"
    }
  },
  "ssl": {
    "email": "foobar@com",
    "sign": [
      "foo.com",
      "bar.com"
    ]
  },
  "mysql": {
    "rootPassword": "foobar",
    "username": "foo",
    "password": "bar"
  },
  "git": {
    "username": "Ciao Chung",
    "email": "foobar@gmail.com"
  }
}